# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_XJAM_LEFT

config ZMK_KEYBOARD_NAME
	default "XJam"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_XJAM_LEFT || SHIELD_XJAM_RIGHT

config ZMK_SPLIT
	default y

endif